$tile-size: 16;
$border-size: 12;

.ms-minesweeper {
  image-rendering: pixelated;

  display: inline-block;
  box-sizing: border-box;

  background-color: #c0c0c0;

  .icon {
    display: inline-block;
    line-height: 0;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .ms-top {
    padding: 4px 7px;

    border: $border-size * 1px;
    border-image-repeat: repeat;
    border-image-slice: $border-size;
    border-image-source: url("textures/borders-top.png");

    .ms-digital_display:first-of-type {
      float: left;
    }

    .ms-digital_display:last-of-type {
      float: right;
    }
  }

  .ms-board {
    overflow: auto;
    zoom: 1;

    border-width: 0 $border-size * 1px $border-size * 1px;

    border-image-repeat: repeat;
    border-image-slice: 0 $border-size $border-size;
    border-image-source: url("textures/borders-bottom.png");
  }

  .ms-tile {
    @extend .icon;

    float: left;
    min-width: $tile-size * 1px;
    min-height: $tile-size * 1px;

    &.ms-default {
      background-image: url("textures/tile/default.png");

      // &:active {
      //   background-image: url("textures/tile/default-pressed.png");
      // }
      &.ms-pressed {
        background-image: url("textures/tile/default-pressed.png");
      }
    }

    &.ms-flagged {
      background-image: url("textures/tile/flagged.png");
    }

    &.ms-flagged-incorrect {
      background-image: url("textures/tile/revealed-marked-incorrect.png");
    }

    @for $i from 0 through 8 {
      &.ms-revealed-#{$i} {
        background-image: url("textures/tile/revealed-#{$i}.png")
      }
    }

    &.ms-revealed-#{-1}, &.ms-revealed-bomb {
      background-image: url("textures/tile/revealed-bomb.png");
    }

    &.ms-revealed-bomb-exploded {
      background-image: url("textures/tile/revealed-bomb-clicked.png");
    }

  }

  .ms-digital_display {
    @extend .icon;
    position: relative;

    border-width: 1px;
    border-image-repeat: repeat;
    border-image-slice: 1;
    border-image-source: url("textures/borders-single.png");

    .ms-digit {
      @extend .icon;

      min-width: 13px;
      min-height: 23px;

      @for $i from 0 through 9 {
        &.ms-digit-#{$i} {
          background-image: url("textures/digits/digit-#{$i}.png");
        }
      }

      &.ms-digit-- {
        background-image: url("textures/digits/digit-nil.png");
      }
    }
  }

  .ms-dude {
    @extend .icon;
    display: block;

    width: 26px;
    height: 26px;
    margin: 0 auto;

    $faces: "default" "dead" "win";
    @each $face in $faces {
      &.ms-dude-#{$face} {
        background-image: url("textures/face/#{$face}.png");
      }
      &.ms-dude-#{$face}:active {
        background-image: url("textures/face/#{$face}-pressed.png");
      }
    }
    &.ms-dude-pressed {
      background-image: url("textures/face/pressed.png");
    }
  }

}
